
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
<session-factory>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/demo</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">5171</property>

    <!-- Corrected dialect -->
<!--            <property name="hibernate.hbm2ddl.auto">update</property>&lt;!&ndash; This is will create a table if there is no table &ndash;&gt;-->
    <property name="hibernate.hbm2ddl.auto">create</property><!-- This is will create a table if there it will delete and create again -->
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
</session-factory>
</hibernate-configuration>